.body .div{
	font-family: Open Sans;
	
}

.jumbotron{
background: url(https://freenaturestock.s3.us-east-1.amazonaws.com/1602.jpg);
background-size: 100% 100%;
height:600px;
}

/* Logo */
.logo{
	height: 100px;
	width: 100px;
	padding-top:20px;
}

.logo_crown{
	height: 30px;
	/* padding-bottom: 8px; */
}

/* navbar */
/* .nav {
background: rgba(0,0,0, 0.5);	
}
 */
.navbar-inverse{
	background: rgba(0,0,0, 1);
}

.nav li{
	color: #fff;
	font-size: 17px;
	margin-right: 35px;
	padding: 10px 0;
}

.nav li:hover{
	border-bottom: 1px solid #d4a735;
	padding-bottom: 9px;
	cursor: pointer;
}



/* Text color of header */
.featured{
	color: #fff;
}

.featured h1{
	
padding-top: 10px;
letter-spacing:2.5px;
}

/* styling links */

.featured .btn-default{
	font-weight: bold;
	color: white;
	background-color:rgba(145, 82, 58, 0.5);
	border-radius: 10px;
	margin-top:10px;
	width: 160px;
	margin-right: 15px;
	
}

.featured .btn-default:hover{
	background-color:rgba(145, 82, 58);
}


/* Middle area */

.trial{
	text-align: center;
	padding: 20px 0 40px 0;
	color: black;
}
.trial img{
	width: 200px;
	height: 70px;
	margin: 20px;
}



/* Footer */

.footer{
	
	background-color: #eee;
	font-size: 15px;
	padding: 16px 0;
}

.brand_icons {
	float: right;
	width: 150px;
}

/* 
.brand_icons .icons{
	padding: 5px;
} */

.footer_text{
	float: left;
	width: 200px;
} 


.fa {
  padding: 4px 18px 17px 6px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



/* devices between 480px ans 768px */

@media (min-width: 480px ) and (max-width: 768px){
	.jumbotron{
		height: 410px;
		margin: 0;
	}
	
	.logo{
		width: 80px;
		heigth: 50px;
	}
	
	.featured h1{
		padding-top: 30px;
	}
	
	.featured p{
		font-size: 17px;
	}
	
	.featured{
		text-align: center;
	}
	
	.trial img{
	width: 200px;
	height: 70px;
	margin: 20px;
	}
}


/* devices under 480px */

@media (max-width: 480px){
	.jumbotron{
		height: 410px;
		margin: 0;
	}
	
	.logo{
		width: 80px;
		height: 50px;
		margin: 50px;
	}
	
	.featured h1{
		padding-top: 10px;
	}
	
	.featured p, .featured a{
		font-size: 20px;
	}
	
	.featured{
		text-align: center;
	}
	
	.trial img{
	width: 100px;
	height: 35px;
	margin: 10px;
	}
}





















